
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
</head>
<body>
<section class="dinamico">
    <div class="h-100 d-flex align-items-center justify-content-center flex-column p-4" layout:fragment="views">
        <h1 class="text-center text-primary mb-4" th:text="${titulo}"></h1>
        <p class="mr-4 ms-4">Bienvenido al sistema OIRI, aquí podrías gestionar la documentación de los estudiantes
            que actualmente se encuentran en un proceso de movilización!</p>
    </div>
</section>
</body>
</html>