<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Estudiantes en proceso</title>
</head>
<body>

<section class="dinamico">
    <div layout:fragment="views">
        <div class="col mt-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h1 class="text-center text-primary">Solicitudes en proceso</h1>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table table-striped" id="creditTable">
                        <thead>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Proceso</th>
                            <th>Tipo</th>
                            <th>Estudiante</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" th:each="solicitud : ${solicitudes}">
                            <td th:text="${solicitud.id}"></td>
                            <td th:text="${solicitud.getEstudiante.getProceso}"></td>
                            <td th:text="${solicitud.tipo == 1 ? 'Mensual' : 'Final'}"></td>
                            <td th:text="${solicitud.getEstudiante.getNombre}"></td>
                            <td style="width: 20vh;">                                
                                <!-- Botón para mes_actual == 1 -->
                                <button type="button" class="btn btn-info" 
                                        onclick="ver_archivos(this)">
                                    <i class="fa-solid fa-magnifying-glass mx-1"></i>
                                    <span>Ver estado</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="page-scripts">
    <script th:src="@{js/views/Solicitud.js}" defer></script>
</th:block>
</body>
</html>