<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Tramites</title>
</head>
<body>

<section class="dinamico">
    <div layout:fragment="views">
        <div class="col mt-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h1 class="text-center text-primary">Tramites en proceso</h1>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table table-striped" id="creditTable">
                        <thead>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Codigo Estudiante</th>
                            <th>Nombre Estudiante</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" th:each="tramite : ${tramites}">
                            <td th:text="${tramite.id}"></td>
                            <td th:text="${tramite.getEstudiante.getId}"></td>
                            <td th:text="${tramite.getEstudiante.getCodigo}"></td>
                            <td th:text="${tramite.getEstudiante.getNombre}"></td>
                            <td style="width: 20vh;">                                
                                <button id="solicitarEquivalencia" 
                                        type="button" class="btn btn-success" 
                                        th:if="${tramite.solicitada == false}" 
                                        onclick="solicitarEquivalencia(this)">
                                    <i class="fa-solid fa-pen mx-1"></i>
                                    <span>Solicitar Equivalencia</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="page-scripts">
    <script th:src="@{js/views/Tramite.js}" defer></script>
</th:block>
</body>
</html>