<div class="card-header">
    <div class="card-title">
        <h1 class="text-center">Subir Anexos</h1>
    </div>
</div>
<div class="card-body">
    
    <div class="card-header">
        <div class="card-title">
            <h1 class="text-center">Documentación Requerida</h1>
            <h4 class="text-center">En esta sección podrás cargar los anexos requeridos por OIRI.</h4>
            <p class="text-center">Por favor, asegurate que los archivos que vas a cargar tengan un peso menor o igual a 10MB.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body card-text mt-3 d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <label for="pdfSupport">Reporte Final:</label>
                        <input class="form-control" type="file" id="pdf_final" accept=".pdf" name="pdf_final" required onblur="validatePdfs(this)">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card-body card-text mt-3 d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <label for="workSupport">Certificado de Notas</label>
                        <input class="form-control" type="file" id="pdf_certificado" accept=".png" name="pdf_certificado" required onblur="validatePdfs(this)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
